{% extends 'base.html' %}
{% block title %}<title>Vehiculos Antiguos</title>{% endblock %}

{% block content %}
<div class="container py-4">
    <h2 class="text-center mb-3 mt-1 text-primary">Vehículos Antiguos</h2>
    <p class="lead text-center text-secondary mb-5">El automóvil fue un invento que cambió por completo la forma en que nos desplazamos y transformó nuestra sociedad, fue un pilar fundamental en el avance de la tecnología, conectividad y producción mundial. Su invención tiene una historia fascinante que se remonta al siglo XIX.

La invención del automóvil se atribuye comúnmente a Karl Benz, un ingeniero alemán, que diseñó y construyó el Benz Patent-Motorwagen en 1885, el que patentó un año más tarde. Este hito marcó el comienzo de una revolución en la movilidad y el transporte, transformando la forma en que las personas se desplazaban y abriendo nuevas posibilidades en términos de comercio, turismo y conectividad. El impacto de la invención de Benz se puede apreciar en el desarrollo de la industria automotriz, que ha evolucionado continuamente para ofrecer vehículos más seguros, eficientes y sostenibles.

Karl Benz no sólo fue un pionero en el diseño y la ingeniería automotriz, sino que también se le reconoce haber sido un visionario que contribuyó al progreso tecnológico del sector.

El vehículo creado por Benz se considera el primer automóvil propulsado por un motor de combustión interna. Benz logró un gran avance al diseñar un motor de gasolina de cuatro tiempos y aplicarlo a un vehículo de tres ruedas.</p>
    <div class="row gy-4">
        <div class="col-md-4 text-center">
            <h5>Ford Model T</h5>
            <p class="text-justify">Este automóvil de 1908 revolucionó la industria por ser asequible y de producción masiva.</p>
            <img src="{{ url_for('static', filename='fordModelT.jpg') }}" class="img-fluid rounded" style="height:200px; object-fit:cover;" alt="Ford Model T">
        </div>
        <div class="col-md-4 text-center">
            <h5>Chevrolet Bel Air</h5>
            <p class="text-justify">Ícono de los años 50, famoso por su diseño elegante y colores vibrantes.</p>
            <img src="{{ url_for('static', filename='chevyBelAir.jpg') }}" class="img-fluid rounded" style="height:200px; object-fit:cover;" alt="Chevrolet Bel Air">
        </div>
       <div class="col-md-4 text-center">
            <h5>Chevrolet Bel Air</h5>
            <p class="text-justify">Ícono de los años 50, famoso por su diseño elegante y colores vibrantes.</p>
            <img src="{{ url_for('static', filename='chevyBelAir.jpg') }}" class="img-fluid rounded" style="height:200px; object-fit:cover;" alt="Chevrolet Bel Air">
        </div>
    </div>
    <div class="row gy-4 mt-5">
        <div class="col-md-6 text-center">
            <h5>Ford Model T</h5>
            <p class="text-justify">Este automóvil de 1908 revolucionó la industria por ser asequible y de producción masiva.</p>
            <img src="{{ url_for('static', filename='fordModelT.jpg') }}" class="img-fluid rounded" style="height:200px; object-fit:cover;" alt="Ford Model T">
        </div>
        <div class="col-md-6 text-center">
            <h5>Chevrolet Bel Air</h5>
            <p class="text-justify">Ícono de los años 50, famoso por su diseño elegante y colores vibrantes.</p>
            <img src="{{ url_for('static', filename='chevyBelAir.jpg') }}" class="img-fluid rounded" style="height:200px; object-fit:cover;" alt="Chevrolet Bel Air">
        </div>
    
    </div>
</div>
{% endblock %}
